<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'telefone/styles_registro.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a></p>
    </div>
</body>
</html>
